@charset "utf-8";
/* CSS Document */
/*===================================公共样式======================================== */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,table,td,img,div,p,dl,dt,dd{margin:0;padding:0;}
body{margin:0; color:#313232; font-family: "Microsoft YaHei","微软雅黑",Lucida Grande, Verdana, Lucida, Arial, Helvetica, sans-serif;font-size:14px; text-align: left;line-height:24px; }
h1,h2,h3,h4,h5,h6{ font-size:14px;margin:0px;padding:0px;font-weight:normal;}
ul,li,dl,ul,ol{list-style:none;}
select{font-size:14px; color:#313232;}
input{font-size:14px; color:#313232;}
select,input{vertical-align:middle; padding:0; margin:0;}
cite,em{font-style:normal;}
a{text-decoration:none;}
a:link,a:visited  {color:#313232;} 
img{border:0px;}
.fl{float:left;}
.fr{float:right;}
.fd{clear:both;height:0px;width:0px;overflow:hidden}
.font14{font-family: "微软雅黑";font-size:14px; line-height:24px;}

.clearn {margin:0px;height:0px;width:0px;padding:0px;clear:both;border:0px;}

/*引导页*/
.guide_outside {width:100%;min-width:1200px;overflow:hidden;background:#fff;}
.guide {max-width:1440px;min-width:1200px;width:100%;height: 900px;background:url(./guide.jpg);margin:auto;background-position:center;}
.guide_inside {width:724px;height:261px;background:url(./guide.png);float:right;position: absolute;top:330px;right:50px;}
.guide_inside_a {width:334px;height:56px;float:left;margin:156px 20px 0px 5px;}
.guide_inside_a_sec {width:354px;margin:155px 0px 0px 8px;}
.guide_inside_a a {display:block;width:100%;height:100%;border:1px solid #a38f80;-webkit-border-radius:6px; border-radius:6px; -moz-border-radius:6px;}
.guide_inside_a a:hover {border:1px solid #4c362e;}

/* 1.3产品也  */
.bbj13 {width:100%;min-width:1200px;height:600px;margin:auto;}
.nnk {width:1200px;margin:auto;}
.bbjyyt {height:58px;}
.bbj13yyb {border-top:1px solid #ccc;}
.dinw {position:relative;}
.dyj {-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px;margin:auto;}
.bbjyyt h3 {font-size:18px;color:#333;width:40%;line-height:58px;float:left;}
.bbjyyt h3 span, .bbjtp .bbjtpn h2 span.zt {font-family:Impact;font-weight:500;}
.bbjyyt ul {float:right;margin-top:23px;}
.bbjyyt ul li {display:block;width:86px;height:15px;float:left;border-right:1px solid #ccc;line-height:15px;text-align:center;font-size:16px;}
.bbjyyt ul li.yytk {width:102px;}
.bbjyyt ul li.xck {border:0px;}
.bbjyyt ul li.ilann {width:140px;height:30px;margin-top:-8px;line-height:30px;}
.bbjyyt ul li a {display:block;width:100%;height:100%;}
.bbjyyt ul li a:hover {color:#9bc700;}
.bbjyyt ul li.ilann a {background:#9bc700;color:#fff;}
.bbj13_top {background:url(./bbj.jpg);background-position:center;background-size:100% 600px;}
.bbj13_top img {width:100%;height:100%;}
.bbj13_top_inside {height:100%;margin-top:-600px;}
.bbjtp {background:url(./bbj01.jpg);background-position:center;background-size:100% 600px;position:relative;}
.bbjtp .bbjtpn {height:100%;position:relative;}
.bbjtp .bbjtpn .imgs {width:915px;height:113px;margin:auto;position:relative;top:160px;}
.bbjtp .bbjtpn img {float:left;display:block;width:257px;position:absolute;}
.bbjtp .bbjtpn h1 {font-size:80px;font-weight:bold;width:650px;float:left;display:block;margin-top:30px;position:absolute;height:100%;left:258px;} 
.bbjtp .bbjtpn h2 {font-size:46px;font-weight:bold;margin-top:180px;line-height:50px;text-align:center;} 
.bbjtp .bbjtpn h2 span.zt {font-size:50px;position:relative;top:5px;}
.bbjtp .bbjtpn h2 span.xi {font-size:45px;font-weight:normal;}
.bbjtp .bbjtpn .but {width:260px;height:54px;margin:auto;line-height:54px;text-align:center;font-size:26px;margin-top:58px;}
.bbjtp .bbjtpn .but a {display:block;width:100%;height:100%;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;margin:auto;background:#9bc700;color:#fff;}
.bbjtp .bbjtpn ul {width:192px;margin:auto;margin-top:30px;}
.bbjtp .bbjtpn ul li {display:block;width:36px;height:36px;margin:0px 5px;float:left;background:url(./bbj07.png);cursor:pointer;}
.bbjtp .bbjtpn ul li.fengxiangy {background-position:-46px 0px;}
.bbjtp .bbjtpn ul li.fengxiange {background-position:-91px 0px;}
.bbjtp .bbjtpn ul li.fengxiangs {background-position:-136px 0px;}
.bbjtp .bbjtpn ul li:hover {background-position:0px -41px;}
.bbjtp .bbjtpn ul li.fengxiangy:hover {background-position:-46px -41px;}
.bbjtp .bbjtpn ul li.fengxiange:hover {background-position:-91px -41px;}
.bbjtp .bbjtpn ul li.fengxiangs:hover {background-position:-136px -41px;}
.bbjys {height:580px;}
.bbjys .bbjcpys {width:1031px;height:580px;}
p.lvdan {color:#9bc700;line-height:15px;text-align:center;font-size:20px;font-weight:bold;top:48px;}
h1.ldx {font-size:36px;color:#282828;line-height:40px;text-align:center;font-weight:bold;margin-top:60px;}
.bbjys .bbjcpys .bbjysk {width:150px;height:230px;float:left;background:url(./bbj05.png);margin:0px 13px;margin-top:128px;}/*margin-top:78px;*/
.bbjys .bbjcpys .bbjysk h3 {font-size:24px;color:#333;line-height:40px;text-align:center;margin-top:160px;}
.bbjys .bbjcpys .bbjysk p {font-size:14px;color:#5c5c5c;line-height:20px;text-align:center;}
.bbjys .bbjcpys .bbjyskyi {background-position:0px -341px;}
.bbjys .bbjcpys .bbjysker {background-position:-177px 0px;}
.bbjys .bbjcpys .bbjysksa {background-position:-353px 0px;}
.bbjys .bbjcpys .bbjysksi {background-position:-529px 0px;}
.bbjys .bbjcpys .bbjyskwu {background-position:-705px 0px;}
.bbjys .bbjcpys .bbjysklu {background-position:-881px 0px;}
.bbjys .bbjcpys .bbjyskyi:hover {background-position:0px -341px;}
.bbjys .bbjcpys .bbjysker:hover {background-position:-177px -341px;}
.bbjys .bbjcpys .bbjysksa:hover {background-position:-353px -341px;}
.bbjys .bbjcpys .bbjysksi:hover {background-position:-529px -341px;}
.bbjys .bbjcpys .bbjyskwu:hover {background-position:-705px -341px;}
.bbjys .bbjcpys .bbjysklu:hover {background-position:-881px -341px;}
.bbjys .bbjcpyser {width:1031px;height:116px;border-top:1px solid #9bc700;position:absolute;top:450px;padding-top:10px;font-size:14px;color:#333;}
#jiant {width:37px;height:20px;background:url(./bbj08.png);position:absolute;top:431px;z-index:56;left:55px;}
.bbjzs {height:792px;border-top:1px solid #ccc;}
.bbjzs .bbjcpzs {height:792px;width:1200px;}
#zsxxk {width:1032px;height:76px;margin:auto;border-top:1px solid #ccc;margin-top:20px;}
#zsxxk ul {margin-top:20px;}
#zsxxk ul li {display:block;width:128px;height:34px;float:left;cursor:pointer;color:#333;}
#zsxxk ul li.dyjsg {background:#9bc700;color:#fff;}
#zsxxk ul li:hover {background:#9bc700;}
#zsxxk ul li p {display:block;width:100%;height:20px;line-height:20px;text-align:center;margin-top:6px;font-size:18px;border-right:1px solid #ccc;position:relative;z-index:9;}
#zsxxk ul li p.zh {border:0px;}
#zsxxk ul li:hover p {border:0px;}
#xxkt {width:100%;height:580px;}
#xxkt img {width:1204px;height:580px;}
.bbjxj {height:550px;}
.bbjxj .bbjcpxj {width:1204px;height:550px;margin:auto;}
#cpxjt {width:100%;height:396px;margin:auto;margin-top:40px;}
#cpxjt .xjtw {overflow:hidden;float:left;width:344px;height:264px;}
#cpxjt .xjtwe {overflow:hidden;float:left;width:172px;height:264px;}
#cpxjt .xjts {position:relative;float:left;margin:1px;background-size:100% 100%; }
#cpxjt .xjts img {width:20px;height:20px;position:absolute;right:10px;bottom:10px;}
#cpxjt .xjts p {width:100px;height:18px;position:absolute;left:10px;bottom:10px;color:#fff;font-size:14px;line-height:18px;text-align:left;}
#cpxjt .xjtswy {width:170px;height:130px;}
#cpxjt .xjtswe {width:342px;height:130px;}
#cpxjt .xjtsws {width:342px;height:262px;}
#cpxjt .xjts1 {background:url(./bbjxj00.jpg);}
#cpxjt .xjts2 {background:url(./bbjxj01.jpg);}
#cpxjt .xjts3 {background:url(./bbjxj02.jpg);}
#cpxjt .xjts4 {background:url(./bbjxj03.jpg);}
#cpxjt .xjts5 {background:url(./bbjxj04.jpg);}
#cpxjt .xjts6 {background:url(./bbjxj05.jpg);}
#cpxjt .xjts7 {background:url(./bbjxj06.jpg);}
#cpxjt .xjts8 {background:url(./bbjxj07.jpg);}
#cpxjt .xjts9 {background:url(./bbjxj08.jpg);}
#cpxjt .xjts10 {background:url(./bbjxj09.jpg);}
#cpxjt .xjts11 {background:url(./bbjxj10.jpg);}
.bbjfl {height:600px;}
.bbjfl .bbjflb {width:1032px;height:600px;margin:auto;background:url(./bbj14.png);}
.bbjfl .bbjflb .peiz {width:78px;height:60px;background:#fff;position:relative;top:210px;left:165px;}
.bbjfl .bbjflb .peiz a {width:100%;height:100%;display:block;color:#336f03;font-size:18px;line-height:20px;text-align:center;}
.bbjfl .bbjflb .peiz a h3 {position:relative;top:10px;color:#336f03;font-size:18px;font-weight:600;}
.bbjfl .bbjflb .fuliao {width:240px;height:60px;background:#fff;position:relative;top:150px;left:685px;}
.bbjfl .bbjflb .peiz a , .bbjfl .bbjflb .fuliao a {width:100%;height:100%;display:block;color:#336f03;font-size:18px;line-height:20px;text-align:center;font-weight:600;font-family: "微软雅黑";}
.bbjfl .bbjflb .fuliao a {line-height:60px;text-align:center;}
.bbjfl .bbjflb .flb a {display:block;width:100%;height:100%;margin-top:0px;}
.bbjfl .bbjflb .flb a .fllj {width:100%;height:100%;}
.bbjfl .bbjflb .flb a .fllj h1 {font-family:Impact;color:#7a7a7a;font-size:90px;line-height:90px;text-align:center;position:relative;top:30px;}
.bbjfl .bbjflb .flb a .fllj h2 {color:#7a7a7a;font-size:70px;line-height:90px;text-align:center;position:relative;top:30px;font-weight:bold;}
.bbjfl .bbjflb .flb a .fllj h3 {color:#333;font-size:46px;line-height:50px;text-align:center;font-weight:bold;position:relative;top:30px;}
.bbjpp {height:600px;}
.bbjpp .bbjhzpp {height:600px;width:1200px;margin:auto;}
.bbjpp .bbjhzpp .img {width:1032px;height:258px;margin:auto;margin-top:128px;}
.bbjpp .bbjhzpp .img img {width:100%;height:100%;}
.bbjbj {background:#9bc700;}
.bbjbj .bbjcpbj {width:1200px;height:600px;margin:auto;color:#fff;}
.bbjbj .bbjcpbj h1 {font-family:Impact;font-size:200px;line-height:180px;text-align:center;position:relative;top:134px;padding-left: 35px;}
.bbjbj .bbjcpbj h1 span {font-family: "微软雅黑";font-size:36px;color:#469806;position:relative;top:-65px;left:3px;}
.bbjbj .bbjcpbj p {font-size:20px;line-height:30px;text-align:center;margin-top:115px;font-weight:bold;}
.bbjbj .bbjcpbj p span {color:#469806;}
.bbjbj .bbjcpbj a {display:block;width:230px;height:50px;background:#fff;color:#9bc700;font-size:24px;line-height:50px;text-align:center;margin-top:20px;}
.bbjlc .bbjyylc {width:1038px;height:600px;margin:auto;color:#fff;}
.bbjlc .bbjyylc .yylck {width:151px;height:260px;float:left;margin:0px 13px;background:url(./bbj11.png);margin-top:138px;}
.bbjlc .bbjyylc .yylck2 {background-position:-176px 0px;}
.bbjlc .bbjyylc .yylck3 {background-position:-353px 0px;}
.bbjlc .bbjyylc .yylck4 {background-position:-528px 0px;}
.bbjlc .bbjyylc .yylck5 {background-position:-704px 0px;}
.bbjlc .bbjyylc .yylck6 {background-position:-880px 0px;}
.bbjlc .bbjyylc .yylck h2 {font-size:20px;color:#333;line-height:30px;text-align:center;margin-top:85px;font-weight:600;}
.bbjlc .bbjyylc .yylck h3 {font-size:14px;color:#5a5a5a;line-height:25px;text-align:center;font-weight:500;}
.bbjlc .bbjyylc .yylck p {font-size:14px;color:#469806;line-height:30px;text-align:center;margin-top:35px;}
.bbjkf {background:#eaeaea;}
.bbjkf .bbjkfcs {width:1032px;height:600px;margin:auto;background:url(./bbj06.png);}
.bbjsc .bbjyzsc {width:1032px;height:600px;margin:auto;}
.bbjsc .bbjyzsc .kfcsk {width:315px;height:281px;float:left;background:url(./bbj12.png);color:#fff;margin-top:92px;margin:0px 20px;margin-top:93px;}
.bbjsc .bbjyzsc .kfcsk h2 {font-size:24px;line-height:30px;text-align:center;margin-top:50px;}
.bbjsc .bbjyzsc .kfcsk h3 {font-size:18px;line-height:25px;text-align:center;font-weight:500;}
.bbjsc .bbjyzsc .kfcsk p {font-size:14px;color:#5a5a5a;line-height:25px;text-align:center;margin-top:55px;}
.bbjys .bbjcpys .bbjyskl, .bbjlc .bbjyylc .yylckl, .bbjsc .bbjyzsc .kfcskl {margin-left:0px;}
.bbjys .bbjcpys .bbjyskr, .bbjlc .bbjyylc .yylckr, .bbjsc .bbjyzsc .kfcskr {margin-right:0px;}
.bbjsc .bbjyzsc h5 {font-size:18px;line-height:35px;text-align:center;color:#333;}

.standard {overflow:hidden;margin:20px auto;width:100%;min-width:1200px;}
.standard_quotation {overflow:hidden;margin:20px auto;}
.standard .standard_inside, .standard_quotation .standard_quotation_inside {overflow:hidden;width:1200px;margin:auto;}
.standard_quotation .standard_quotation_inside {width:1202px;}


/*快速预约通道*/
#outside {background:#f0f0f0;width:100%;min-width:1200px;margin:auto;}
#outside .quick {width:1200px;margin:auto;}
#outside .quick_botm {padding-bottom:50px;}
#outside .quick_top {width:100%;height:58px;}
#outside .quick_top_left {width:150px;height:100%;font-size:18px;color:#333;line-height:58px;text-align:left;float:left;}
#outside .quick_top_right {width:450px;height:100%;font-size:16px;color:#5a5a5a;line-height:58px;text-align:right;float:right;}
#outside .quick_middle {background:#fff;text-align:center;padding-bottom:1px;}
#outside .quick_middle_top {height:72px;border-bottom:1px solid #d9d9d9;}
#outside .quick_middle_top h2 {font-size:24px;color:#282828;line-height:72px;}
#outside .quick_middle_top_inside {width:150px;height:100%;margin:auto;border-bottom:1px solid #9bc700;}
#outside .quick_middle_middle {width:1032px;overflow:hidden;}
#outside .quick_middle_middle_inside {width:100%;overflow:hidden;margin:auto;margin-top:48px;}
#outside .quick_middle_middle h5 {font-size:16px;color:#5c5c5c;line-height:22px;margin-top:16px;}
#outside .quick_middle_middle_box {width:160px;height:140px;margin:10px 5px;border:1px solid #ccc;float:left;position:relative;}
.noselect {moz-user-select: -moz-none;-moz-user-select: none;-o-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;}
#outside .quick_middle_middle_box_left {margin-left:0px;}
#outside .quick_middle_middle_box_right {margin-right:0px;}
#outside .quick_middle_middle_box_top {width:100%;height:30px;font-size:20px;color:#fff;background:#ccc;line-height:30px;}
#outside .quick_middle_middle_box_top input {}
#outside .quick_middle_middle_box h3 {font-size:18px;color:#5c5c5c;line-height:79px;}
#outside .quick_middle_middle_box_count {width:50%;height:30px;border-top:1px solid #ccc;float:left;color:#333;font-size:30px;line-height:30px;cursor:pointer;position:absolute;bottom:0px;}
#outside .quick_middle_middle_box_count:hover {background:#9bc700;color:#fff;}
#outside .quick_middle_middle_box_add {width:79px;border-left:1px solid #ccc;right:0px;}
#outside .form_button {width:100%;height:40px;font-size:16px;color:#333;margin:40px auto;float:left;position:relative;}
#reset {width:160px;height:100%;border:1px solid #ccc;line-height:40px;text-align:center;color:#333;position:absolute;left:340px;float:left;cursor:pointer;}
#reset:hover {background:#ccc;color:#fff;}
#outside .submit {margin-left:200px;outline:none;}



